/* Estilo base */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-top-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    max-width: 100%;
  }
  
  .navbar-top-left-texts {
    margin-left: 20px;
    color: black;
    font-family: 'Rowdies', sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 1;
  }
  
  .navbar-top-left-texts p {
    color: #231e1c;
    font-weight: lighter;
    letter-spacing: normal;
  }
  
  .navbar-top-right {
    display: flex;
    gap: 20px;
  }
  
  .icon {
    width: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 20px 0;
  }
  
  .menu .icon {
    width: 90px;
  }
  
  .menu button {
    border: 1px solid #56070c;
    border-radius: 40px;
    background-color: white;
    color: #56070c;
    font-family: 'Rowdies', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .menu button:hover {
    background-color: #56070c;
    color: white;
    border-color: white;
    transform: scale(1.2);
  }
  
  /* Media queries para pantallas más pequeñas */
  @media (max-width: 768px) {
    .navbar-top {
      flex-direction: column;
    }
  
    .navbar-top-left {
      flex-direction: column;
      text-align: center;
      margin: 10px 0;
    }
  
    .navbar-top-right {
      display: none;
    }
  
    .menu {
      gap: 20px;
    }
  
    .menu .icon {
      width: 70px;
    }
  
    .menu button {
      font-size: 13px;
      width: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 100px;
    }
  
    .navbar-top-left-texts {
      letter-spacing: 2px;
      text-align: center;
      font-size: 10px;
    }
  
    .navbar-top-left-texts p {
      font-size: 9px;
    }
  
    .menu .icon {
      display: none;
    }
  
    .menu button {
      font-size: 9px;
      width: 70px;
      padding: 6px 10px;
    }
  
    .menu {
      gap: 10px;
    }
  }
  