.encabezado-balonki {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado-balonki h1 {
    margin-top: 10vh;
    color: #56070C;
    font-family: Rowdies;
    letter-spacing: 12px;
    line-height: 0.5;
    font-size: 64px;
    text-align: center; /* Centra el texto */
}

.encabezado-balonki h2 {
    margin-top: 1vh;
    color: #56070C;
    font-family: Rowdies;
    letter-spacing: 12px;
    line-height: 0.5;
    font-size: 30px;
    text-align: center; /* Centra el texto */
}

.encabezado-balonki a {
    margin-top: 10vh;
    color: #231E1C;
    font-family: Rowdies;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 10vw; /* Cambiado a unidades relativas */
    margin-right: 10vw; /* Cambiado a unidades relativas */
    text-align: justify;
    letter-spacing: 3px;
    width: 90%; /* Cambiado a un ancho relativo */
    max-width: 1338px; /* Limita el ancho máximo */
    height: 100%; /* Considerar la posibilidad de hacer este valor flexible */
}

.encabezado-balonki img {
    width: 90%;
    margin-bottom: 10vh;
}

@media (max-width: 1366px) {
    .encabezado-balonki h1 {
        font-size: 45px; /* Ajuste del tamaño del texto */
    }

    .encabezado-balonki h2 {
        font-size: 25px; /* Ajuste del tamaño del subtítulo */
    }

    .encabezado-balonki a {
        font-size: 18px; /* Ajuste del tamaño del enlace */
        margin-left: 5vw; /* Reduce el margen para pantallas más pequeñas */
        margin-right: 5vw; /* Reduce el margen para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .encabezado-balonki h1 {
        font-size: 35px; /* Ajuste adicional para pantallas móviles */
    }

    .encabezado-balonki h2 {
        font-size: 15px; /* Ajuste adicional para pantallas móviles */
        letter-spacing: normal;
    }

    .encabezado-balonki a {
        font-size: 16px; /* Ajuste adicional para pantallas móviles */
        height: auto; /* Permitir que la altura se ajuste según el contenido */
    }
}
