/* General container */
.encabezado-asociados {
    max-width: 100%; /* Ajuste para que ocupe todo el ancho disponible */
    padding: 0 10px; /* Añadido padding para mejor presentación en pantallas pequeñas */
    margin: 0 auto; /* Centra el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Títulos principales */
.encabezado-asociados h1,
.encabezado-asociados h2 {
    color: #56070C;
    font-family: Rowdies;
    letter-spacing: 12px;
    line-height: 1; /* Ajustado para mayor legibilidad */
}

.encabezado-asociados h1 {
    margin-top: 5vh;
    font-size: 4rem; /* Cambiado a rem para mayor escalabilidad */
    text-align: center;
}

.encabezado-asociados h2 {
    font-size: 2rem; /* Cambiado a rem */
    margin: 5vh 0 2vh; /* Mejor separación */
    text-align: center;
}

/* Ajuste de las secciones con contenido */
.eyp, .ub, .iub, .iducuello {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

/* Imagenes */
.eyp img, .ub img, .iub img,  .iducuello img {
    max-width: 100%; /* Asegura que las imágenes no excedan el contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}

/* Parrafos */
.eyp p, .ub p, .iub p, .iducuello p {
    color: #231E1C;
    font-family: Rowdies;
    font-weight: lighter;
    font-size: 1.2rem; /* Cambiado a rem para mayor consistencia */
    margin: 3vh 5%; /* Añadido margen flexible */
    text-align: justify;
    letter-spacing: 2px;
    max-width: 90%; /* Asegura que el texto no sea demasiado ancho */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .encabezado-asociados h1 {
        font-size: 2rem; /* Reducción del tamaño en pantallas pequeñas */
    }

    .encabezado-asociados h2 {
        font-size: 1rem; /* Reducción para títulos secundarios */
        letter-spacing: 3px;
        text-align: center;
    }

    .eyp p, .ub p, .iub p, .iducuello p {
        font-size: 1rem; /* Texto más pequeño para mejor legibilidad */
    }
}
